{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}


<h1>Récupération de paramètres</h1>
<p>{{ paramUrl }}</p>
<p>{{controller_name}}</p>
<p>methode : {{ methode}}</p>
<p>numero : {{ numero }}</p>
{{ dump(routeParams) }}
{{ dump(routeName) }}
{{ dump(allAttributes) }}
<pre>salut!</pre>
{% endblock %}
